@page "/"
@using global::Shared;

<PageTitle>Index</PageTitle>

<h1>Hello, Steve with PR!</h1>

Welcome to your new app.

<h1>This is freakin awesome!!!</h1>

And so is hot reload - zoomin - tada

<h2>Things I love about this: -</h2>
<ul>
    <li>Auto-deploy to azure</li>
    <li>Pull requests auto deployed to a new url for preview</li>
    <li>Custom DNS was a doddle</li>
    <li>Does hot reload work in debug? - YES!</li>
    <li>DId launchsettings.json have to change to add hot reload?? - NOPE, just set the Hot Reload icon in VS to reload on save</li>
</ul>

<p>@masterClass.Name</p>


<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private SharedClass masterClass = new SharedClass { Name = "I came from above!" };

    
}